<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Image Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to Image Analyzer</h1>
    </header>

    <div class="container">
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <label for="file-upload" class="custom-file-upload">
                Choose an Image
                <input type="file" id="file-upload" name="file" accept="image/*" required>
            </label>
            <button type="submit">Upload File</button>
        </form>
    </div>

</body>
</html>
